# General
json-logic-qubit==0.9.1
requests==2.31.0
Flask==3.0.0
pylxd==2.2.8
MarkupSafe==2.1.1
termcolor
pytest
pytest-cov
coveralls
pdoc3
pyyaml

# WattWizard
urllib3==2.0.7
influxdb-client==1.37.0
pandas
numpy
scikit-learn
scipy
matplotlib
seaborn

# Guardian
cachetools

# NodeRescaler
psutil